html,body{
    overflow-x: hidden;
}
.navfont{
    font-size: 10px;
    font-weight: bold;
    margin-top: 20px;
}
.my-botton{
    width: 60px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    color: darkblue;
    border-radius: 5px;
    border: 0px;
}
.my-botton:hover{
    color: white;
    background-color: darkblue;
}
.brand{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
    color: darkblue
}
.suzuki-logo{
    position: relative;
    top: 9px;
    vertical-align: unset;
}
.routingfont{
    color:white
}
.mynav-bar{
    list-style: none;
    display: flex;
    padding: 0px;
}
.mynav-items{
    color:white;
    margin-right: 5vw;
}
.search{
    background-color:white;
}
.search:hover{
    background-color: white;
    color: black;
}

.selectbar{
    background-color: white;
    margin-top: -60px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0px 10px 20px #e2e2e2;
    margin-bottom: 60px;
}
.my-form-select{
    height: 55px;
}
.select-search{
    height: 55px;
    width: 100%;
    background-color:darkblue;
    color:white;
    font-size: 18px;
}
.btn-container{
    width: 208px;
}
.select-search:hover{
    color:darkblue;
    border:1px solid black;
}
.selectinput{
width: 25%;
}
.quick-search-navlinks{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
#quick-search{
    font-size: 1.875rem;
    color: #636363;
    font-weight: 500;
    margin: 0;
    position: relative;
    top: -8.6px;
}
.navlink-btn{
color: white;
background-color:darkblue;
width: 30%;
border: 0px;
border-radius:2rem;
height: 35px;
cursor: pointer;
}
.container-category{
    display: flex;
    position: relative;
    right: 0px;
    column-gap: 0px;
    transition: right 2s;
    flex-wrap: wrap;
}
.list-items{
    /* border:0.8px solid black; */
    border: 0px;
    background-color: #e9ecef;
    border-radius: 1rem;
    padding: 0px;
    margin-right: 3.5vw;
}
.arrow-right{
    width: 70px;
    position: relative;
    bottom: 70.8px;
    left: 80vw;
}
.arrow-left{
    width: 70px;
    position: relative;
    bottom: 70.8px;
    right: 2.7vw;
}
.arrow-left:hover{
    color: darkblue;
    cursor: pointer;
}
.arrow-right:hover{
    color: darkblue;
    cursor: pointer;
}
.viewall{
    display: flex;
    justify-content: flex-end;
}
.recent-top-rated{
    width: 100%;
    border-style: none;
    height: 60px;
}
.carslider-container{
       width: 250vw;
    display: flex;
    position: relative;
    right: 0px;
    transition: right 2s;
}
.arrow-left-car-slider{
    width: 70px;
    position: relative;
    bottom: 190.4px;
    left: 5.7vw;
    cursor: pointer;
}
.arrow-right-car-slider{
    width: 70px;
    position: relative;
    top: 190.4px;
    right: 2.05vw;
    cursor: pointer;
}
.mycard{
    margin-right: 1.25vw;
   height: 100%;
}
.Link{
width: 100%;
text-decoration: none;
}
.place{
    font-size: 25px;
    color:#636363;
}
.icons{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.icons img{
width: 40px;
height: 40px;
}
.cardetail_img{
    height: 50vh;
}
.sliderdetail{
width: 100%;
}
.slider{
display: flex;
position: relative;
right: 8px;
}
.slider-elements{
margin-left: 20px;
margin-top: 20px;
}
@media screen and (max-width: 1280px) {
    .arrow-right{
        left: 88%;
    }
    .carslider-container{
        width: 255vw;
    }
}
