<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Slider</title>
  <style>
    img {
      width: 50%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html,
    body {
      width: 100%;
      overflow-x: hidden;
      /* Prevent horizontal scrollbars */
      margin: 0;
      padding: 0;
    }

    #container {
      display: flex;
      width: 300%;
      /* Updated to account for the duplicate image */
      position: relative;
      right: 0px;
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body>
  <form id="container">
    <button type="button" onclick="run(event)">Submit</button>
  </form>

  <script>
    function run(e) {
      e.preventDefault();
      console.log("run");
      
    }
  </script>
</body>

</html>
